/* Container for the employee list */
.employee-container {
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Error message styles */
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #333;
    color: #fff;
  }
  
  thead th {
    padding: 10px;
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody td {
    padding: 10px;
    text-align: center;
  }
  
  /* Button styles */
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  /* Styling for the Edit and Delete buttons */
  .edit-button,
  .delete-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
  }
  
  .edit-button {
    background-color: blue;
    color: white;
  }
  
  .delete-button {
    background-color: red;
    color: white;
  }
  /* CSS for the popup effect */
.add-form-popup {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slideIn 0.3s ease-out forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    width: 100px; /* Adjust the width as needed */
    margin-right: 10px;
  }
  
  .form-group input {
    flex: 1;
    padding: 5px;
  }